
        
        h1, .top-section {
            text-align: center;
        }

        nav ul {
            list-style-type: none;
            padding: 0;
            margin: 0 0 20px 0;
            display: flex;
            justify-content: center;
            gap: 40px; /
        }
        
      
        nav a {
            font-size: 18px;
        }

       
        table {
            margin: 0 auto; 
        }
